<h2>Rate 评分</h2>
<p>评分组件</p>
<app-code code="import { NelRateModule } from 'ng-element-ui/rate';"></app-code>

<h3>基础用法</h3>

<app-demo [codeUrl]="'components-rate-demo-basic.component'">
  <nel-demo-rate-basic demo></nel-demo-rate-basic>
</app-demo>

<h3>允许半选<span style="color: #F56C6C;">*待完善</span></h3>

<h3>辅助文字<span style="color: #F56C6C;">*待完善</span></h3>

<h3>其它 icon<span style="color: #F56C6C;">*待完善</span></h3>

<h3>只读<span style="color: #F56C6C;">*待完善</span></h3>

<app-doc [docUrl]="'components-rate'"></app-doc>
