<h2>PageHeader 页头</h2>
<p>如果页面的路径比较简单，推荐使用页头组件而非面包屑组件。</p>
<app-code code="import { NelPaginationModule } from 'ng-element-ui/pagination';"></app-code>

<h3>基础用法</h3>

<app-demo [codeUrl]="'components-pagination-demo-basic.component'">
  <nel-demo-pagination-basic demo></nel-demo-pagination-basic>
</app-demo>

<h3>设置最大页码按钮数</h3>

<app-demo [codeUrl]="'components-pagination-demo-pager-count.component'">
  <nel-demo-pagination-pager-count demo></nel-demo-pagination-pager-count>
</app-demo>

<h3>带有背景色的分页</h3>

<app-demo [codeUrl]="'components-pagination-demo-background.component'">
  <nel-demo-pagination-background demo></nel-demo-pagination-background>
</app-demo>

<h3>小型分页</h3>

<app-demo [codeUrl]="'components-pagination-demo-small.component'">
  <nel-demo-pagination-small demo></nel-demo-pagination-small>
</app-demo>
