<h2>Popover 弹出框</h2>

<h3>基础用法</h3>

<app-demo [codeUrl]="'components-popover-demo-basic.component'">
  <nel-demo-popover-basic demo></nel-demo-popover-basic>
</app-demo>

<h3>嵌套信息</h3>
<p>可以在 Popover 中嵌套多种类型信息，以下为嵌套表格的例子。</p>

<app-demo [codeUrl]="'components-popover-demo-content.component'">
  <nel-demo-popover-content demo></nel-demo-popover-content>
</app-demo>

<h3>嵌套操作</h3>
<p>当然，你还可以嵌套操作，这相比 Dialog 更为轻量：</p>

<app-demo [codeUrl]="'components-popover-demo-confirm.component'">
  <nel-demo-popover-confirm demo></nel-demo-popover-confirm>
</app-demo>

<app-doc [docUrl]="'components-popover'"></app-doc>
