<h2>Badge 标记</h2>
<p>出现在按钮、图标旁的数字或状态标记。</p>

<h3>基础用法</h3>
<p>展示新消息数量。</p>

<app-demo [codeUrl]="'components-badge-demo-basic.component'">
  <nel-demo-badge-basic demo></nel-demo-badge-basic>
</app-demo>

<h3>最大值</h3>
<p>可自定义最大值。</p>

<app-demo [codeUrl]="'components-badge-demo-max.component'">
  <nel-demo-badge-max demo></nel-demo-badge-max>
</app-demo>

<h3>自定义内容</h3>
<p>可以显示数字以外的文本内容。</p>

<app-demo [codeUrl]="'components-badge-demo-value.component'">
  <nel-demo-badge-value demo></nel-demo-badge-value>
</app-demo>

<h3>小红点</h3>
<p>以红点的形式标注需要关注的内容。</p>

<app-demo [codeUrl]="'components-badge-demo-dot.component'">
  <nel-demo-badge-dot demo></nel-demo-badge-dot>
</app-demo>

<app-doc [docUrl]="'components-badge'"></app-doc>
