<div class="heading">
  <button class="el-button el-button--default fr" type="button">
    <span>
      <a href="https://github.com/ng-element/ng-element/releases" target="_blank">
        GitHub Releases
      </a>
    </span>
  </button>
  更新日志
</div>
<ul class="timeline">
  <li>
    <h3>
      <a href="https://github.com/ng-element/ng-element/releases/tag/0.1.0-alpha.0" target="_blank">
        0.1.0-alpha.0
      </a>
    </h3>
    <p><em>2021-08-21</em></p>
    <h4 id="bug-fixes">Features</h4>
    <ul>
      <li>
        add new feature
        icon
        alert
        empty
        button
        link
        container
        divider
        layout
        page-header
        dialog
        card
        tooltip
        backtop
        collapse
        scrollbar
        infinite-scroll
        radio
        image
        timeline
        popconfirm
        popover
        avatar
        tag
        badge
        affix
        space
        breadcrumb
        descriptions
        steps
        skeleton
        calendar
        drawer
        carousel
        message
        notification
        message-box
        loading
        dropdown
        tabs
        switch
        progress
        result
      </li>
    </ul>
  </li>
</ul>
