<h2>Empty 空状态</h2>
<p>空状态时的占位提示。</p>

<h3>基础用法</h3>

<app-demo [code]="codeBasic">
  <nel-demo-empty-basic demo></nel-demo-empty-basic>
</app-demo>

<h3>自定义图片</h3>
<p>通过设置 nelImage 属性传入图片 URL。</p>

<app-demo [code]="codeImage">
  <nel-demo-empty-image demo></nel-demo-empty-image>
</app-demo>

<h3>图片尺寸</h3>
<p>通过设置 nelImageSize 属性来控制图片大小。</p>

<app-demo [code]="codeImageSize">
  <nel-demo-empty-image-size demo></nel-demo-empty-image-size>
</app-demo>

<h3>底部内容</h3>
<p>使用 nelFooter 可在底部插入内容。</p>

<app-demo [code]="codeFooter">
  <nel-demo-empty-footer demo></nel-demo-empty-footer>
</app-demo>

<p>Attributes</p>
<table>
  <thead>
    <tr>
      <th>参数</th>
      <th>说明</th>
      <th>类型</th>
      <th>可选值</th>
      <th>默认值</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>nelImage</td>
      <td>图片地址</td>
      <td>string</td>
      <td>—</td>
      <td>—</td>
    </tr>
    <tr>
      <td>nelImageSize</td>
      <td>图片大小（宽度）</td>
      <td>number</td>
      <td>—</td>
      <td>—</td>
    </tr>
    <tr>
      <td>nelDescription</td>
      <td>文本描述</td>
      <td>string</td>
      <td>—</td>
      <td>—</td>
    </tr>
    <tr>
      <td>nelFooter</td>
      <td>底部内容</td>
      <td>ElementRef</td>
      <td>—</td>
      <td>—</td>
    </tr>
  </tbody>
</table>
