<h2>Avatar 头像</h2>
<p>用图标、图片或者字符的形式展示用户或事物信息。</p>

<h3>基本用法</h3>
<p>通过 nelShape 和 nelSize 设置头像的形状和大小。</p>

<app-demo [codeUrl]="'components-avatar-demo-basic.component'">
  <nel-demo-avatar-basic demo></nel-demo-avatar-basic>
</app-demo>

<h3>展示类型</h3>
<p>支持三种类型：图标、图片和字符</p>

<app-demo [codeUrl]="'components-avatar-demo-type.component'">
  <nel-demo-avatar-type demo></nel-demo-avatar-type>
</app-demo>

<h3>图片加载失败的 fallback 行为</h3>
<p>当展示类型为图片的时候，图片加载失败的 fallback 行为</p>

<app-demo [codeUrl]="'components-avatar-demo-error.component'">
  <nel-demo-avatar-error demo></nel-demo-avatar-error>
</app-demo>

<h3>图片如何适应容器框</h3>
<p>当展示类型为图片的时候，使用 nelFit 属性定义图片如何适应容器框，同原生 object-fit。</p>

<app-demo [codeUrl]="'components-avatar-demo-fit.component'">
  <nel-demo-avatar-fit demo></nel-demo-avatar-fit>
</app-demo>

<app-doc [docUrl]="'components-avatar'"></app-doc>
