<h2>Image 图片</h2>
<p>图片容器，在保留原生img的特性下，支持懒加载，自定义占位、加载失败等</p>

<h3>基础用法</h3>

<app-demo [codeUrl]="'components-image-demo-basic.component'">
  <nel-demo-image-basic demo></nel-demo-image-basic>
</app-demo>

<h3>占位内容</h3>

<app-demo [codeUrl]="'components-image-demo-placeholder.component'">
  <nel-demo-image-placeholder demo></nel-demo-image-placeholder>
</app-demo>

<h3>加载失败</h3>

<app-demo [codeUrl]="'components-image-demo-error.component'">
  <nel-demo-image-error demo></nel-demo-image-error>
</app-demo>

<h3>懒加载</h3>

<app-demo [codeUrl]="'components-image-demo-lazy.component'">
  <nel-demo-image-lazy demo></nel-demo-image-lazy>
</app-demo>

<h3>大图预览</h3>

<app-demo [codeUrl]="'components-image-demo-viewer.component'">
  <nel-demo-image-viewer demo></nel-demo-image-viewer>
</app-demo>

<h3>预览</h3>

<app-demo [codeUrl]="'components-image-demo-service.component'">
  <nel-demo-image-service demo></nel-demo-image-service>
</app-demo>

<app-doc [docUrl]="'components-image'"></app-doc>
