<h2>Descriptions 描述列表</h2>
<p>列表形式展示多个字段。</p>
<app-code code="import { NelDescriptionsModule } from 'ng-element-ui/descriptions';"></app-code>

<h3>基础用法</h3>

<app-demo [codeUrl]="'components-descriptions-demo-basic.component'">
  <nel-demo-descriptions-basic demo></nel-demo-descriptions-basic>
</app-demo>

<h3>不同尺寸</h3>

<app-demo [codeUrl]="'components-descriptions-demo-size.component'">
  <nel-demo-descriptions-size demo></nel-demo-descriptions-size>
</app-demo>

<h3>垂直列表</h3>

<app-demo [codeUrl]="'components-descriptions-demo-direction.component'">
  <nel-demo-descriptions-direction demo></nel-demo-descriptions-direction>
</app-demo>

<app-doc [docUrl]="'components-descriptions'"></app-doc>
