.page-content {
  padding-left: calc((100% - 1482px) / 2);
  padding-right: calc((100% - 1482px) / 2);
}

.doc-content-wrapper {
  padding: 64px 0 96px;
}

.doc-content-container {
  width: 100% !important;
}
