<h2>PageHeader 页头</h2>
<p>如果页面的路径比较简单，推荐使用页头组件而非面包屑组件。</p>
<app-code code="import { NelPageHeaderModule } from 'ng-element-ui/page-header';"></app-code>

<h3>基础用法</h3>

<app-demo [codeUrl]="'components-page-header-demo-basic.component'">
  <nel-demo-page-header-basic demo></nel-demo-page-header-basic>
</app-demo>

<h3>自定义图标</h3>

<app-demo [codeUrl]="'components-page-header-demo-icon.component'">
  <nel-demo-page-header-icon demo></nel-demo-page-header-icon>
</app-demo>

<app-doc [docUrl]="'components-page-header'"></app-doc>
