<h2>Link 文字链接</h2>
<p>文字超链接</p>

<h3>基础用法</h3>
<p>基础的按钮用法。</p>

<app-demo [code]="codeBasic">
  <nel-demo-link-basic demo></nel-demo-link-basic>
</app-demo>

<h3>禁用状态</h3>
<p>文字链接不可用状态。</p>

<app-demo [code]="codeDisabled">
  <nel-demo-link-disabled demo></nel-demo-link-disabled>
</app-demo>

<h3>下划线</h3>
<p>文字链接下划线。</p>

<app-demo [code]="codeUnderline">
  <nel-demo-link-underline demo></nel-demo-link-underline>
</app-demo>

<h3>图标</h3>
<p>带图标的文字链接可增强辨识度。</p>

<app-demo [code]="codeIcon">
  <nel-demo-link-icon demo></nel-demo-link-icon>
</app-demo>

<app-doc [docUrl]="'components-link'"></app-doc>
