<h2>Timeline 时间线</h2>
<p>可视化地呈现时间流信息。</p>

<h3>基础用法</h3>
<p>Timeline 可拆分成多个按照时间戳排列的 activity，时间戳是其区分于其他控件的重要特征，使⽤时注意与 Steps 步骤条等区分。</p>

<app-demo [codeUrl]="'components-timeline-demo-basic.component'">
  <nel-demo-timeline-basic demo></nel-demo-timeline-basic>
</app-demo>

<h3>⾃定义节点样式</h3>
<p>可根据实际场景⾃定义节点尺⼨、颜⾊，或直接使⽤图标。</p>

<app-demo [codeUrl]="'components-timeline-demo-node.component'">
  <nel-demo-timeline-node demo></nel-demo-timeline-node>
</app-demo>

<h3>⾃定义时间戳</h3>
<p>当内容在垂直⽅向上过⾼时，可将时间戳置于内容之上。</p>

<app-demo [codeUrl]="'components-timeline-demo-timestamp.component'">
  <nel-demo-timeline-timestamp demo></nel-demo-timeline-timestamp>
</app-demo>

<app-doc [docUrl]="'components-timeline'"></app-doc>
