<h2>Container 布局容器</h2>
<p>用于布局的容器组件，方便快速搭建页面的基本结构：</p>
<app-code code="import { NelContainerModule } from 'ng-element-ui/container';"></app-code>

<p>nel-container：外层容器。当子元素中包含 nel-header 或 nel-footer 时，全部子元素会垂直上下排列，否则会水平左右排列。</p>
<p>nel-header：顶栏容器。</p>
<p>nel-aside：侧边栏容器。</p>
<p>nel-main：主要区域容器。</p>
<p>nel-footer：底栏容器。</p>

<div class="tip">
  <p>以上组件采用了 flex 布局，使用前请确定目标浏览器是否兼容。此外，<code>&lt;nel-container&gt;</code> 的子元素只能是后四者，后四者的父元素也只能是
    <code>&lt;nel-container&gt;</code>。</p>
</div>

<app-demo [codeUrl]="'components-container-demo-basic.component'">
  <nel-demo-container-basic demo></nel-demo-container-basic>
</app-demo>
