<h2>InfiniteScroll 无限滚动</h2>
<p>滚动至底部时，加载更多数据。</p>
<app-code code="import { NelInfiniteScrollModule } from 'ng-element-ui/infinite-scroll';"></app-code>

<h3>基础用法</h3>
<p>在要实现滚动加载的列表上上添加nel-infinite-scroll，并赋值相应的加载方法，可实现滚动到底部时自动执行加载方法。</p>

<app-demo [codeUrl]="'components-infinite-scroll-demo-basic.component'">
  <nel-demo-infinite-scroll-basic demo></nel-demo-infinite-scroll-basic>
</app-demo>

<h3>禁用加载</h3>

<app-demo [codeUrl]="'components-infinite-scroll-demo-disabled.component'">
  <nel-demo-infinite-scroll-disabled demo></nel-demo-infinite-scroll-disabled>
</app-demo>

<app-doc [docUrl]="'components-infinite-scroll'"></app-doc>
