<h2>Tag 标签</h2>
<p>用于标记和选择。</p>
<app-code code="import { NelTagModule } from 'ng-element-ui/tag';"></app-code>

<h3>基础用法</h3>

<app-demo [codeUrl]="'components-tag-demo-basic.component'">
  <nel-demo-tag-basic demo></nel-demo-tag-basic>
</app-demo>

<h3>可移除标签</h3>

<app-demo [codeUrl]="'components-tag-demo-closable.component'">
  <nel-demo-tag-closable demo></nel-demo-tag-closable>
</app-demo>

<h3>可移除标签</h3>

<app-demo [codeUrl]="'components-tag-demo-close.component'">
  <nel-demo-tag-close demo></nel-demo-tag-close>
</app-demo>

<h3>不同尺寸</h3>
<p>Tag 组件提供除了默认值以外的三种尺寸，可以在不同场景下选择合适的按钮尺寸。</p>

<app-demo [codeUrl]="'components-tag-demo-size.component'">
  <nel-demo-tag-size demo></nel-demo-tag-size>
</app-demo>

<h3>不同主题</h3>
<p>Tag 组件提供了三个不同的主题：dark、light 和 plain</p>

<app-demo [codeUrl]="'components-tag-demo-effect.component'">
  <nel-demo-tag-effect demo></nel-demo-tag-effect>
</app-demo>

<h3>类似复选框的标签</h3>
<p>有时候因为业务需求，我们可能会需要用到类似复选框的标签，但是按钮式的复选框的样式又不满足需求，此时我们就可以用到 check-tag</p>

<app-demo [codeUrl]="'components-tag-demo-check.component'">
  <nel-demo-tag-check demo></nel-demo-tag-check>
</app-demo>

<app-doc [docUrl]="'components-tag'"></app-doc>
