.navbar {
  top: 0;
  left: 0;
  position: relative;
  z-index: 10;
}

.navbar-wrapper {
  position: relative;
  border-bottom: 1px solid #dcdfe6;
  height: 55px;
  padding: 0 12px 0 24px;
  background-image: radial-gradient(transparent 1px, #ffffff 1px);
  background-size: 4px 4px;
  backdrop-filter: saturate(50%) blur(4px);
  -webkit-backdrop-filter: saturate(50%) blur(4px);
  top: 0;

  .header-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    .content {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 1;
    }
  }
}

.navbar-menu {
  display: none;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 55px;

  &>a {
    height: 28px;
    display: flex;
    align-items: center;
    color: #409eff;
    font-weight: 600;
  }

  .logo {
    position: relative;
    height: 100%;
  }
}

.link-item {
  display: flex;
  align-items: center;
}

.is-menu-link {
  display: block;
  padding: 0 12px;
  line-height: calc(55px - 3px);
  font-size: 14px;
  font-weight: 500;
  color: #303133;
  transition: color .3s;
  border-bottom: 2px solid transparent;

  &.active {
    border-bottom-color: #409eff;
  }
}

.social-links {
  height: 24px;
  padding: 0 12px;
}

.social-link {
  color: #303133;
}

.page-component {
  box-sizing: border-box;
  height: 100%;

  &.page-container {
    padding: 40px;
  }
}

.page-container {
  h2 {
    font-size: 24px;
    line-height: 36px;
    color: #1f2d3d;
  }

  h3 {
    font-size: 18px;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1.6em 0 .6em;
    font-weight: 500;
    color: rgba(0, 0, 0, .85);
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 48px 32px 0;
  transform: translate(-100%);
  transition: padding-top .3s;
  margin-top: 55px;
  z-index: 10;
  box-sizing: border-box;

  .side-nav {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    box-sizing: border-box;
    transition: opacity .3s;

    ul {
      padding: 0;
      margin: 0;
      overflow: hidden;
    }

    li {
      list-style: none;
    }

    .link {
      padding: 10px 16px;
      line-height: 1.5;
      font-size: .9rem;
      border-radius: 8px;

      &:not(.flex) {
        display: block;
      }

      .link-text {
        margin: 0;
      }

      &.active {
        background-color: rgba(64, 158, 255, .1);

        .link-text {
          font-weight: 600;
          color: #409eff;
          transition: color .25s;
        }
      }
    }

    .link-text {
      line-height: 20px;
      font-size: 13px;
      font-weight: 500;
      color: #606266;
      transition: color .5s;
    }

    .nav-item:nth-child(-n+4)>a {
      margin-top: 0;
    }

    .nav-group {
      padding-top: 24px;
    }

    .nav-group__title {
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: 8px;
      line-height: 24px;
    }
  }
}

.page-content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 55px;
  overflow: auto;
}

.doc-content-wrapper {
  --vp-content-width: 800px;
  padding: 32px 24px 96px;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center,
[justify~="center"] {
  justify-content: center;
}

.text-center,
[text~="center"] {
  text-align: center;
}

.mt-32px {
  margin-top: 32px;
}

.inline-flex {
  display: inline-flex;
}

.w-100\%,
.w-full,
[w-full=""] {
  width: 100%;
}

[p~="\32 "] {
  padding: 0.5rem;
}

.pl-0,
[pl-0=""] {
  padding-left: 0rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.text-xs,
[text~="xs"] {
  font-size: 0.75rem;
  line-height: 1rem;
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: calc(var(--vp-sidebar-width-small));
  }

  .navbar-wrapper {
    padding: 0 12px 0 32px;
  }

  .navbar-menu {
    display: flex;
  }

  .doc-content-wrapper {
    padding: 48px 32px 96px;
  }
}

@media screen and (min-width: 960px) {
  .navbar {
    position: fixed;
    width: 100%;
  }

  .sidebar {
    transform: translate(0);
  }

  .page-content.has-sidebar {
    padding-left: calc(var(--sidebar-width-sm) + 10px);
  }

  .doc-content-wrapper {
    padding: 64px 64px 96px;
  }
}

@media screen and (min-width: 1280px) {
  .navbar-wrapper {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .navbar-wrapper .header-container {
    max-width: calc(1482px);
  }

  .sidebar {
    padding: 48px 32px 96px calc((100% - var(--vp-screen-max-width)) / 2);
    width: calc((100% - var(--vp-screen-max-width)) / 2 + var(--vp-sidebar-width-small));
  }

  .doc-content-wrapper {
    padding: 64px 0 96px 64px;

    .doc-content-container {
      width: var(--vp-content-width);
    }
  }
}

@media screen and (min-width: 1680px) {
  .navbar-wrapper .header-container {
    max-width: calc(1482px);
  }

  .sidebar {
    padding: 48px 48px 96px calc((100% - var(--vp-screen-max-width)) / 2);
    width: calc((100% - var(--vp-screen-max-width)) / 2 + var(--vp-sidebar-width-small));
  }

  .doc-content-wrapper {
    padding: 64px 0 96px 96px;
  }
}

@media (min-width: 768px) {
  .md\:w-1\/3 {
    width: 33.3333333333%;
  }
}

@media screen and (min-width: 960px) and (min-width: 1280px) {
  .page-content.has-sidebar {
    padding-left: calc(var(--vp-sidebar-width-small) - 6px);
  }
}

@media screen and (min-width: 960px) and (min-width: 1440px) {
  .page-content.has-sidebar {
    padding-left: calc((100% - var(--vp-screen-max-width)) / 2 + var(--vp-sidebar-width-small));
  }
}
