<h2>Divider 分割线</h2>
<p>区隔内容的分割线。</p>

<h3>基础用法</h3>
<p>对不同章节的文本段落进行分割。</p>

<app-demo [codeUrl]="'components-divider-demo-basic.component'">
  <nel-demo-divider-basic demo></nel-demo-divider-basic>
</app-demo>

<h3>设置文案</h3>
<p>可以在分割线上自定义文案内容。</p>

<app-demo [codeUrl]="'components-divider-demo-content.component'">
  <nel-demo-divider-content demo></nel-demo-divider-content>
</app-demo>

<h3>垂直分割</h3>

<app-demo [codeUrl]="'components-divider-demo-direction.component'">
  <nel-demo-divider-direction demo></nel-demo-divider-direction>
</app-demo>

<app-doc [docUrl]="'components-divider'"></app-doc>
