<h2>Loading 加载</h2>
<p>加载数据时显示动效。</p>
<app-code code="import { NelLoadingModule } from 'ng-element-ui/loading';"></app-code>

<h3>区域加载</h3>
<p>在表格等容器中加载数据时显示。</p>

<app-demo [codeUrl]="'components-loading-demo-basic.component'">
  <nel-demo-loading-basic demo></nel-demo-loading-basic>
</app-demo>

<h3>自定义</h3>
<p>可自定义加载文案、图标和背景色。</p>

<app-demo [codeUrl]="'components-loading-demo-custom.component'">
  <nel-demo-loading-custom demo></nel-demo-loading-custom>
</app-demo>

<h3>整页加载</h3>
<p>页面数据加载时显示。</p>

<app-demo [codeUrl]="'components-loading-demo-fullscreen.component'">
  <nel-demo-loading-fullscreen demo></nel-demo-loading-fullscreen>
</app-demo>

<app-doc [docUrl]="'components-loading'"></app-doc>
