<h1>资源</h1>
<p>Ng Element UI 正在开发中，敬请期待。联系我：<a class="u-email Link--primary "
    href="mailto:llkui241569@163.com">llkui241569&#64;163.com</a>
</p>

<div class="flex flex-wrap justify-center mt-32px">
  <div class="inline-flex w-full md:w-1/3" p="2" pl-0="">
    <div class="el-card is-hover-shadow card">
      <div class="el-card__body">
        <h3>Ng Element Plus</h3>
        <p>基于Ng-Element-UI开发的扩展组件。</p>
        <a target="_blank" href="https://ng-element.github.io/ng-element-plus">
          <button class="el-button el-button--primary" type="button">
            <span>查看</span>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
