<h2>Input 输入框</h2>
<p>通过鼠标或键盘输入字符</p>
<app-code code="import { NelInputModule } from 'ng-element-ui/input';"></app-code>

<h3>基础用法</h3>

<app-demo [codeUrl]="'components-input-demo-basic.component'">
  <nel-demo-input-basic demo></nel-demo-input-basic>
</app-demo>

<h3>禁用状态</h3>

<app-demo [codeUrl]="'components-input-demo-disabled.component'">
  <nel-demo-input-disabled demo></nel-demo-input-disabled>
</app-demo>

<h3>可清空</h3>

<app-demo [codeUrl]="'components-input-demo-clearable.component'">
  <nel-demo-input-clearable demo></nel-demo-input-clearable>
</app-demo>

<h3>密码框</h3>

<app-demo [codeUrl]="'components-input-demo-show-password.component'">
  <nel-demo-input-show-password demo></nel-demo-input-show-password>
</app-demo>

<h3>带 icon 的输入框<span style="color: #F56C6C;">*待完善</span></h3>

<h3>文本域<span style="color: #F56C6C;">*待完善</span></h3>

<h3>可自适应文本高度的文本域<span style="color: #F56C6C;">*待完善</span></h3>

<h3>复合型输入框<span style="color: #F56C6C;">*待完善</span></h3>

<h3>尺寸</h3>

<app-demo [codeUrl]="'components-input-demo-size.component'">
  <nel-demo-input-size demo></nel-demo-input-size>
</app-demo>

<h3>带输入建议<span style="color: #F56C6C;">*待完善</span></h3>

<h3>自定义模板<span style="color: #F56C6C;">*待完善</span></h3>

<h3>远程搜索<span style="color: #F56C6C;">*待完善</span></h3>

<h3>输入长度限制<span style="color: #F56C6C;">*待完善</span></h3>

<app-doc [docUrl]="'components-input'"></app-doc>
