<h1>Slider 滑块</h1>
<p>通过拖动滑块在一个固定区间内进行选择</p>
<app-code code="import { NelSliderModule } from 'ng-element-ui/slider';"></app-code>

<h2>基础用法</h2>
<p>在拖动滑块时，显示当前值</p>
<p>通过设置绑定值自定义滑块的初始值</p>

<app-demo [codeUrl]="'components-slider-demo-basic.component'">
  <nel-demo-slider-basic demo></nel-demo-slider-basic>
</app-demo>

<h2>离散值</h2>
<p>选项可以是离散的</p>
<p>改变step的值可以改变步长， 通过设置 show-stops 属性可以显示间断点</p>

<app-demo [codeUrl]="'components-slider-demo-show-stops.component'">
  <nel-demo-slider-show-stops demo></nel-demo-slider-show-stops>
</app-demo>

<h2>带有输入框的滑块</h2>
<p>通过输入框设置精确数值</p>
<p>设置 show-input 属性会在右侧显示一个输入框</p>
<p>development...</p>

<h2>不同尺寸</h2>
<p>development...</p>

<h2>位置</h2>
<p>您可以自定义 Tooltip 提示的位置。</p>

<app-demo [codeUrl]="'components-slider-demo-placement.component'">
  <nel-demo-slider-placement demo></nel-demo-slider-placement>
</app-demo>

<h2>范围选择</h2>
<p>支持选择某一数值范围</p>
<p>配置 range 属性以激活范围选择模式，该属性的绑定值是一个数组，由最小边界值和最大边界值组成。</p>
<p>development...</p>

<h2>垂直模式</h2>
<p>配置 vertical 属性为 true 启用垂直模式。 在垂直模式下，必须设置 height 属性。</p>
<p>development...</p>

<h2>显示标记</h2>
<p>设置 marks 属性可以展示标记</p>
<p>development...</p>
