<h2>Tabs 标签页</h2>
<p>分隔内容上有关联但属于不同类别的数据集合。</p>
<app-code code="import { NelTabsModule } from 'ng-element-ui/tabs';"></app-code>

<h3>基础用法</h3>
<p>基础的、简洁的标签页。</p>

<app-demo [codeUrl]="'components-tabs-demo-basic.component'">
  <nel-demo-tabs-basic demo></nel-demo-tabs-basic>
</app-demo>

<h3>选项卡样式</h3>
<p>选项卡样式的标签页。</p>

<app-demo [codeUrl]="'components-tabs-demo-type.component'">
  <nel-demo-tabs-type demo></nel-demo-tabs-type>
</app-demo>

<h3>卡片化</h3>
<p>卡片化的标签页。</p>

<app-demo [codeUrl]="'components-tabs-demo-border-card.component'">
  <nel-demo-tabs-border-card demo></nel-demo-tabs-border-card>
</app-demo>

<h3>位置</h3>
<p>可以通过 tab-position 设置标签的位置</p>

<app-demo [codeUrl]="'components-tabs-demo-position.component'">
  <nel-demo-tabs-position demo></nel-demo-tabs-position>
</app-demo>

<h3>自定义标签页</h3>
<p>可以通过具名 label 来实现自定义标签页的内容</p>

<app-demo [codeUrl]="'components-tabs-demo-label.component'">
  <nel-demo-tabs-label demo></nel-demo-tabs-label>
</app-demo>

<!-- <h3>动态增减标签页</h3>
<p>增减标签页按钮只能在选项卡样式的标签页下使用</p>

<app-demo [codeUrl]="'components-tabs-demo-editable.component'">
  <nel-demo-tabs-editable demo></nel-demo-tabs-editable>
</app-demo> -->

<app-doc [docUrl]="'components-tabs'"></app-doc>
