<h2>Switch 开关</h2>
<p>表示两种相互对立的状态间的切换，多用于触发「开/关」。</p>
<app-code code="import { NelSwitchModule } from 'ng-element-ui/switch';"></app-code>

<h3>基础用法</h3>

<app-demo [codeUrl]="'components-switch-demo-basic.component'">
  <nel-demo-switch-basic demo></nel-demo-switch-basic>
</app-demo>

<h3>文字描述</h3>

<app-demo [codeUrl]="'components-switch-demo-text.component'">
  <nel-demo-switch-text demo></nel-demo-switch-text>
</app-demo>

<h3>禁用状态</h3>

<app-demo [codeUrl]="'components-switch-demo-disabled.component'">
  <nel-demo-switch-disabled demo></nel-demo-switch-disabled>
</app-demo>

<h3>加载中</h3>

<app-demo [codeUrl]="'components-switch-demo-loading.component'">
  <nel-demo-switch-loading demo></nel-demo-switch-loading>
</app-demo>

<h3>阻止切换</h3>

<app-demo [codeUrl]="'components-switch-demo-before.component'">
  <nel-demo-switch-before demo></nel-demo-switch-before>
</app-demo>

<app-doc [docUrl]="'components-switch'"></app-doc>
