<h2>Typography 字体</h2>
<p>我们对字体进行统一规范，力求在各个操作系统下都有最佳展示效果。</p>

<h3>字体</h3>

<div class="demo-term-box">
  <img src="./assets/images/term-pingfang.bcf3c12.png" alt="">
  <img src="./assets/images/term-hiragino.ec07bf8.png" alt="">
  <img src="./assets/images/term-microsoft.9765296.png" alt="">
  <img src="./assets/images/term-sf.c445319.png" alt="">
  <img src="./assets/images/term-helvetica.79097b6.png" alt="">
  <img src="./assets/images/term-arial.d119690.png" alt="">
</div>

<h3>字号</h3>

<table class="demo-typo-size">
  <tbody>
    <tr>
      <td>层级</td>
      <td>字体大小</td>
      <td class="color-dark-light">举例</td>
    </tr>
    <tr style="font-size: 12px;">
      <td>辅助文字</td>
      <td class="color-dark-light">12px Extra Small</td>
      <td>用 Element Plus 快速搭建页面</td>
    </tr>
    <tr style="font-size: 13px;">
      <td>正文（小）</td>
      <td class="color-dark-light">13px Small</td>
      <td>用 Element Plus 快速搭建页面</td>
    </tr>
    <tr style="font-size: 14px;">
      <td>正文</td>
      <td class="color-dark-light">14px Base</td>
      <td>用 Element Plus 快速搭建页面</td>
    </tr>
    <tr style="font-size: 16px;">
      <td>小标题</td>
      <td class="color-dark-light">16px Medium</td>
      <td>用 Element Plus 快速搭建页面</td>
    </tr>
    <tr style="font-size: 18px;">
      <td>标题</td>
      <td class="color-dark-light">18px large</td>
      <td>用 Element Plus 快速搭建页面</td>
    </tr>
    <tr style="font-size: 20px;">
      <td>主标题</td>
      <td class="color-dark-light">20px Extra large</td>
      <td>用 Element Plus 快速搭建页面</td>
    </tr>
  </tbody>
</table>

<h3>行高</h3>

<div>
  <img class="lineH-left" src="./assets/images/line-height.png">
  <ul class="lineH-right">
    <li>line-height:1 <span>无行高</span></li>
    <li>line-height:1.3 <span>紧凑</span></li>
    <li>line-height:1.5 <span>常规</span></li>
    <li>line-height:1.7 <span>宽松</span></li>
  </ul>
</div>

<h3>Font-family 代码</h3>

<app-code [code]="fontFamily"></app-code>
