<h2>Breadcrumb 面包屑</h2>
<p>显示当前页面的路径，快速返回之前的任意页面。</p>
<app-code code="import { NelBreadcrumbModule } from 'ng-element-ui/breadcrumb';"></app-code>

<h3>基础用法</h3>
<p>适用广泛的基础用法。</p>

<app-demo [codeUrl]="'components-breadcrumb-demo-basic.component'">
  <nel-demo-breadcrumb-basic demo></nel-demo-breadcrumb-basic>
</app-demo>

<h3>图标分隔符</h3>

<app-demo [codeUrl]="'components-breadcrumb-demo-separator.component'">
  <nel-demo-breadcrumb-separator demo></nel-demo-breadcrumb-separator>
</app-demo>

<app-doc [docUrl]="'components-breadcrumb'"></app-doc>
