<h2>InputNumber 计数器</h2>
<p>仅允许输入标准的数字值，可定义范围</p>
<app-code code="import { NelInputNumberModule } from 'ng-element-ui/input-number';"></app-code>

<h3>基础用法</h3>

<app-demo [codeUrl]="'components-input-number-demo-basic.component'">
  <nel-demo-input-number-basic demo></nel-demo-input-number-basic>
</app-demo>

<h3>禁用状态</h3>

<app-demo [codeUrl]="'components-input-number-demo-disabled.component'">
  <nel-demo-input-number-disabled demo></nel-demo-input-number-disabled>
</app-demo>

<app-doc [docUrl]="'components-input-number'"></app-doc>
