<h2>Scrollbar 滚动条</h2>
<p>用于替换浏览器原生滚动条。</p>

<h3>基础用法</h3>

<app-demo [codeUrl]="'components-scrollbar-demo-basic.component'">
  <nel-demo-scrollbar-basic demo></nel-demo-scrollbar-basic>
</app-demo>

<h3>横向滚动</h3>

<app-demo [codeUrl]="'components-scrollbar-demo-horizontal.component'">
  <nel-demo-scrollbar-horizontal demo></nel-demo-scrollbar-horizontal>
</app-demo>

<h3>横向滚动</h3>

<app-demo [codeUrl]="'components-scrollbar-demo-maxheight.component'">
  <nel-demo-scrollbar-maxheight demo></nel-demo-scrollbar-maxheight>
</app-demo>

<app-doc [docUrl]="'components-scrollbar'"></app-doc>
