<h2>Calendar calendar</h2>
<p>显示日期</p>
<app-code code="import { NelCalendarModule } from 'ng-element-ui/calendar';"></app-code>

<h3>基础用法</h3>

<app-demo [codeUrl]="'components-calendar-demo-basic.component'">
  <nel-demo-calendar-basic demo></nel-demo-calendar-basic>
</app-demo>

<h3>自定义内容</h3>

<app-demo [codeUrl]="'components-calendar-demo-cell.component'">
  <nel-demo-calendar-cell demo></nel-demo-calendar-cell>
</app-demo>

<h3>自定义范围</h3>

<app-demo [codeUrl]="'components-calendar-demo-rang.component'">
  <nel-demo-calendar-rang demo></nel-demo-calendar-rang>
</app-demo>

<app-doc [docUrl]="'components-calendar'"></app-doc>
